.cards{
    margin-top: 10px;
}
.card {
    border-radius: 10px;
    box-shadow: 0 4px 20px 1px rgba(0,0,0,.06), 0 1px 4px rgba(0,0,0,.08);
    border: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    .card-body {
        display: flex;
        .card-icon{
            width: 100px;
            fill: rgb(247, 247, 247);
        }
        .content {
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            
            .text-muted {
                color: #525252;

            }
        }
    }
}