#resource-data{
    .loader{
        text-align: center;
        width: 50%;
    }

    .center-loader{
        width: 300px;
        position: absolute;
        left: 50%;
        top: 35%; 
        margin-left: -150px;
    }
    .page-item{
        &.active{
            a{
                color: $color-white;
            }
        }
        
    }
}