{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "legacyDecorators": true
    }
  },
  "plugins": ["react", "prettier"],
  "rules": {
    "prettier/prettier": "error",
    "no-unused-vars": 1,
    "no-console": 1,
    "react/display-name": 0
  },
  "globals": {
    "Promise": true,
    "document": true,
    "window": true,
    "fetch": true,
    "console": true,
    "module": true,
    "setTimeout": true,
    "clearTimeout": true
  },
  "env": {
    "amd": true
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "settings": {
    "react": {
      "pragma": "React",
      "version": "16.6.0"
    }
  }
}
